@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica';
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: transparent;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo
{
    font-size: 35px;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.navbar a{
    font-size: 35px;
    position: relative;
    padding: 5px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2px;
}


.navbar a::before
{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .5s;
}

.navbar a:hover::before
{
    width: 100%;
}

.personal-proyects {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 40%;
    margin-left: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.personal-proyects h2 {
    font-size: 24px;
    margin-top: 50px;
}

.personal-proyects p {
    text-align: justify;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 50px;
}

.personal-proyects {
    margin-bottom: 20px;
}

.img1
{
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 550px;
}
.img2
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 500px;
}