.image
{
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    filter: drop-shadow(20px 7px 5px black);
}

.image img
{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
}
