.container 
{
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh; */

    margin-right: 20px;
}

.text-container {    
    float: left;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }